
@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-thin.ttf') format('truetype'), url('woff2/iosevka-plex-aile-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-thinoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-thinoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-thinitalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-extralight.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-light.ttf') format('truetype'), url('woff2/iosevka-plex-aile-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-lightoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-lightoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-lightitalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-regular.ttf') format('truetype'), url('woff2/iosevka-plex-aile-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-oblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-oblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-italic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-medium.ttf') format('truetype'), url('woff2/iosevka-plex-aile-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-semibold.ttf') format('truetype'), url('woff2/iosevka-plex-aile-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-bold.ttf') format('truetype'), url('woff2/iosevka-plex-aile-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-boldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-boldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-bolditalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-extrabold.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-plex-aile-heavy.ttf') format('truetype'), url('woff2/iosevka-plex-aile-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-plex-aile-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-plex-aile-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-plex-aile-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-plex-aile-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-plex-aile-heavyitalic.woff2') format('woff2');
}
