
@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-thin.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedthin.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-thinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedthinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedextralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedextralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-light.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedlight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-lightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedlightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-regular.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extended.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-italic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendeditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-medium.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedmedium.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-mediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedmediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-semibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedsemibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-semibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedsemibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-bold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedbold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-bolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedbolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedextrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedextrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-heavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-extendedheavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-heavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-extendedheavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-extendedheavyitalic.woff2') format('woff2');
}
