
@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-thin.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedthin.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-thinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedthinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-light.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedlight.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-lightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedlightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-regular.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extended.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-italic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendeditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-medium.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedmedium.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-mediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedmediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-semibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedsemibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-semibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedsemibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-bold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedbold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-bolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedbolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedextrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-heavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedheavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-plex-haskell-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-heavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Plex Haskell Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-plex-haskell-extendedheavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-plex-haskell-extendedheavyitalic.woff2') format('woff2');
}
